<h2>Reactivos: <small>Dinámicos</small></h2>
<hr />

<form autocomplete="off" [formGroup]="dynamicForm" (ngSubmit)="save()">
  <!-- Campo nombre -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        placeholder="Nombre de la persona"
        name="name"
        formControlName="name"
      />
    </div>
    <span class="form-text text-danger" *ngIf="validField('name')"
      >El campo debe contener al menos 3 letras</span
    >
  </div>

  <!-- Campo dinámico agregar juego -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Agregar favorito"
          name="newGame"
          [formControl]="newFavField"
          (keyup.enter)="addFav()"
        />
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="addFav()"
        >
          Agregar
        </button>
      </div>
    </div>
  </div>

  <!-- Campos favoritos -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9" formArrayName="favs">
      <div
        class="input-group mb-2"
        *ngFor="let fav of favsArr.controls; let i = index"
      >
        <input type="text" class="form-control" [formControlName]="i" />
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="deleteFav(i)"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>

  <!-- Botón enviar -->
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary float-end">Guardar</button>
    </div>
  </div>
</form>

<span>Form</span>

<span>Valid</span>
<pre>
  {{ dynamicForm.valid }}
</pre>

<pre>
  {{ dynamicForm.value | json }}
</pre>
<br />

<span>New Fav</span>
<pre>
  {{ newFavField.value }}
</pre>
